/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Plain Light";
    src: url(./Fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./Fonts/plain-light-webfont.ttf);
}

/* @font-face {
    font-family: "Plain Light";
    src: url(./Fonts/silkserif-lightitalic-webfont.ttf);
} */

/* @font-face {
    font-family: "Plain Light";
    src: url(./Fonts/silkserif-regularitalic-webfont.ttf);
} */

* {
margin: 0;
padding: 0; 
-webkit-box-sizing: border-box; 
        box-sizing: border-box;
font-family: "Plain Light";
color: white;
}

body{
    overflow-x: hidden;
}

#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 2px solid rgb(206, 203, 203);
    /* background-color: #ffffff; */
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 25vh 10vw;
}

.line{
    /* background-color: crimson; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3vw;
}

#line1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1vw;
}

#line1 h5, #line1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}

#line1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 500;
}

.line h2{
    font-size:4.7vw;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}   

@-webkit-keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    50%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    70%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}   

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    50%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    70%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

/* #0B0B0B */

html, body{ 
height: 100%;
width: 100%;
}

#main{
    position: relative;
    background-color: #111;
}

#page1{
    height: 90vh;
    width: 100%;
    background-color: #000000;
}

#page1 #nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw 6vw;
}

#nav1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
}

#nav1 h4{
    font-size: 1vw;
    font-weight: 500;
}

.hori{
    /* background-color: crimson; */
    width: 70%;
    margin-left: 27%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hori:nth-child(2){
    margin-top: 18vh;
}

.hori h1{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
    /* margin-left: 1%; */
    position: relative;
}

#hori1::before{
    content: "01";
    position: absolute;
    font-size: 4vw;
    font-family: 'silk serif';
    left:18%;
    top: 35%;
}

.hori h2{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
    /* margin-left: 12%; */
    border-bottom: 5px solid white;
    padding-bottom: 0.8vw;
    /* transition: all ease 0.3s; */
}

.hori h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: transparent;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 16vh;
    position: relative;
}

#videocontainer{
    height: 65vh;
    width: 70vw;
    position: relative;
    left:28vw;
    background-color: crimson;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}

/* #videocontainer img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
} */

#videocontainer video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}

#video-cursor{
    background-color: #FFA63D;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 999;
}

#video-cursor i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #121212;
    position: relative;
    padding: 7vh 2vw;
    margin-bottom: 20vh;
}

#page3>h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

#page3>h1::before{
    content: "02";
    position: absolute;
    font-size: 4vw;
    font-family: 'silk serif';
    left: -12%;
    top: 8%;
}

#page3>.underline{
    margin-left: 28vw;
}

#image-cont{
    /* background-color: crimson; */
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* gap: 5vw; */
}

.image{
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 40vw;
    width: 30vw;
    /* background-color: purple; */
    overflow: hidden;
    margin: 2vw;
    position: relative;
}

.image:nth-child(1){
    height: 30vw;
    width: 22vw;
}

.image img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 0.3vw solid white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin-top: 23vh;
    margin-left: 10vw;
}

.page3-circle1 svg{
    height: 43%;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 0.3vw solid white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.page3-circle2 svg{
    height: 43%;
    rotate: -40deg;
}

.page3-circle3{
    height: 23vw;
    width: 23vw;
    border: 0.3vw solid white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    /* margin-left: %; */
    margin-top: 15vh;
}

.page3-circle3 svg{
    height: 43%;
    rotate:-90deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 50%;
    scale: 0;
}

.circle-in p{
    font-size: 0.98vw;
    color: #000000;
    width: 58%;
    font-weight: 500;
    scale: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover p{
    opacity: 1;
    scale: 1;
}

.page3-circle3:hover .circle-in{
    scale: 1;
}

.page3-circle3:hover p{
    scale: 1;
    opacity: 1;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #121212;
    position: relative;
    padding: 7vh 0;
}

#content{
    width: 72vw;
    margin-left: 28%;
}

#content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#content h1::before{
    content: "03";
    position: absolute;
    font-size: 4vw;
    font-family: 'silk serif';
    left: -12%;
    top: 8%;
}

#content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

h6{
    font-size: 1vw;
    font-weight: 400;
    /* font-family: 'sens serif'; */
}

#content>p{
    font-size: 2.06vw;
    width: 50%;
    margin-bottom: 3vw;
}

#flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#flex img{
    width: 48%;
}

#flex p{
    font-size: 0.9vw;
    width: 18%;
    margin-left: 1vw;
}

#blue{
    background-color: #3F7DF4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -28vh;
    margin-left: 35vw;
}

.bluelem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* background-color: crimson; */
    padding: 1.7vw 0;
    border-bottom: 0.2vw solid rgba(255, 255, 255, 0.611);
}

.bluelem h4{
    font-size: 1.35vw;
    font-weight: 500;
}

.bluelem p{
    width: 40%;
    font-size: 0.9vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
    position: relative;
}

.elem{
    /* background-color: crimson; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke:1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    -webkit-animation-name: animate;
            animation-name: animate;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes animate {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

@keyframes animate {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}
.elem2{
    /* background-color: crimson; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke:1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    -webkit-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
    -webkit-animation-name: animate;
            animation-name: animate;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span{
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}

#footer{
    height: 100%;
    width: 100%;
    /* background-color: crimson; */
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}

#footer h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 500;
    /* margin-left: 28vw; */
    position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 4vw;
    font-family: 'silk serif';
    left: -12%;
    top: 8%;
}

.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#foot{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 16vw;
    padding-top: 4vw;
    margin-bottom: 8vw;
}

#foot h6{
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

.box{
    width: 25%;
}

#foot h5{
    font-size: 1.6vw;
    /* margin: 0.2vh 0; */
    font-weight: 500;
}

#footer>h5{
    font-weight: 500;
    font-size: 1vw
}

._canvas_container{
    z-index: 99999 !important;
    pointer-events: none;
}

#Flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
}

#hori3{
    /* background-color: crimson; */
    z-index: 999;
    position: relative;
}


/* Responsiveness */

@media (max-width:600px) {
    html, body{ 
        height: 100%;
        width: 100%;
        }
    
    body{
        overflow-x: hidden;
    }

    #crsr{
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        border: 2px solid rgb(206, 203, 203);
        /* background-color: #ffffff; */
        position: fixed;
        z-index: 999;
        mix-blend-mode: difference;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    
    #loader{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 999;
        background-color: #000000;
        padding: 25vh 10vw;
    }
    
    .line{
        /* background-color: crimson; */
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        gap: 5vw;
    }
    
    #line1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 2vw;
    }
    
    #line1 h5, #line1 h6{
        font-size: 8vw;
        font-family: "silk serif";
        font-weight: 100;
    }
    
    #line1 h5{
        /* background-color: red; */
        width: 7vw;
        text-align: right;
    }
    
    .line h1{
        font-size: 8vw;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .line h2{
        font-size:8vw;
        text-transform: uppercase;
        opacity: 0;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }   
    
    @-webkit-keyframes anime {
        0%{
            font-family: "plain light";
            -webkit-text-stroke: 2px #fff;
            color: #fff;
            font-weight: 500;
            opacity: 1;
        }
    
        50%{
            font-family: "plain light";
            -webkit-text-stroke: 2px #fff;
            color: #fff;
            font-weight: 500;
            opacity: 0;
        }
    
        70%{
            font-family: "silk serif";
            -webkit-text-stroke: 2px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 1;
        }
    
        100%{
            font-family: "silk serif";
            -webkit-text-stroke: 2px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 0;
        }
    }   
    
    @keyframes anime {
        0%{
            font-family: "plain light";
            -webkit-text-stroke: 2px #fff;
            color: #fff;
            font-weight: 500;
            opacity: 1;
        }
    
        50%{
            font-family: "plain light";
            -webkit-text-stroke: 2px #fff;
            color: #fff;
            font-weight: 500;
            opacity: 0;
        }
    
        70%{
            font-family: "silk serif";
            -webkit-text-stroke: 2px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 1;
        }
    
        100%{
            font-family: "silk serif";
            -webkit-text-stroke: 2px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 0;
        }
    }
    
    /* #0B0B0B */

    #page1{
        height: 60vh;
        width: 100%;
        background-color: #000000;
        padding-top: 1px;
    }
    
    #page1 #nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding: 3.2vw 5vw;
        position: fixed;
        width: 100%;
        /* background-color: crimson; */
        top: 0;
    }
    
    #nav svg{
        scale: 0.8;
    }

    #nav1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 3vw;
        display: none;
    }
    
    #nav1 h4{
        font-size: 1vw;
        font-weight: 500;
    }
    
    .hori{
        /* background-color: crimson; */
        width: 70%;
        margin-left: 20%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow-y: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .hori:nth-child(2){
        margin-top: 15vh;
    }
    
    .hori h1{
        font-size: 10vw;
        font-weight: 540;
        text-transform: uppercase;
        line-height: 9.8vw;
        /* margin-left: 1%; */
        position: relative;
    }
    
    #hori1::before{
        content: "01";
        position: absolute;
        font-size: 5vw;
        font-family: 'silk serif';
        left:8%;
        top: 25%;
    }
    
    .hori h2{
        font-size: 10vw;
        font-weight: 540;
        text-transform: uppercase;
        line-height: 9.8vw;
        /* margin-left: 12%; */
        border-bottom: 5px solid white;
        padding-bottom: 0.8vw;
        /* transition: all ease 0.3s; */
    }

    #page2{
        height: 60vh;
        width: 100%;
        padding-top: 5vh;
        position: relative;
    }
    
    #videocontainer{
        height: 48vh;
        width: 100vw;
        position: relative;
        left:0vw;
        background-color: crimson;
        background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
        background-size: cover;
        background-position: center;
    }
    
    /* #videocontainer img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
    } */
    
    #videocontainer video{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        opacity: 0;
    }
    
    #video-cursor{
        background-color: #FFA63D;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 999;
    }
    
    #video-cursor i{
        font-size: 6vw;
    }

    #page3{
        min-height: 100vh;
        width: 100%;
        background-color: #121212;
        position: relative;
        padding: 7vh 2vw;
        margin-bottom: 20vh;
    }
    
    #page3>h1{
        font-size: 9.4vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 6vw;
        margin-left: 4vw;
    }
    
    #page3>h1::before{
        content: "02";
        position: absolute;
        font-size: 5vw;
        font-family: 'silk serif';
        left: 0%;
        top: -48%;
    }
    
    #page3>.underline{
        margin-left: 7.6vw;
        width: 95%;
    }
    
    #image-cont{
        /* background-color: crimson; */
        padding: 1vw;
        margin-top: 10vw;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* gap: 5vw; */
    }
    
    .image{
        -ms-flex-negative: 0;
            flex-shrink: 0;
        height: 110vw;
        width: 90vw;
        /* background-color: purple; */
        overflow: hidden;
        margin: 2vw;
        margin-bottom: 8vw;
        position: relative;
    }
    
    .image:nth-child(1){
        height: 110vw;
        width: 90vw;
    }
    
    .image img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
    
    .page3-circle1{
        height: 23vw;
        width: 23vw;
        border: 0.3vw solid white;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        margin-top: 23vh;
        margin-left: 10vw;
        display: none;
    }
    
    .page3-circle1 svg{
        height: 43%;
    }
    
    .page3-circle2{
        height: 23vw;
        width: 23vw;
        border: 0.3vw solid white;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        display: none;
    }
    
    .page3-circle2 svg{
        height: 43%;
        rotate: -40deg;
    }
    
    .page3-circle3{
        height: 23vw;
        width: 23vw;
        border: 0.3vw solid white;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        /* margin-left: %; */
        margin-top: 15vh;
        display: none;
    }
    
    .page3-circle3 svg{
        height: 43%;
        rotate:-90deg;
    }
    
    .circle-in{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        border-radius: 50%;
        scale: 0;
    }
    
    .circle-in p{
        font-size: 0.98vw;
        color: #000000;
        width: 58%;
        font-weight: 500;
        scale: 0;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        -webkit-transition-delay: 0.2s;
             -o-transition-delay: 0.2s;
                transition-delay: 0.2s;
        opacity: 0;
    }
    
    .page3-circle1:hover .circle-in{
        scale: 1;
    }
    
    .page3-circle1:hover p{
        scale: 1;
        opacity: 1;
    }
    
    .page3-circle2:hover .circle-in{
        scale: 1;
    }
    
    .page3-circle2:hover p{
        opacity: 1;
        scale: 1;
    }
    
    .page3-circle3:hover .circle-in{
        scale: 1;
    }
    
    .page3-circle3:hover p{
        scale: 1;
        opacity: 1;
    }
    
    #page4{
        min-height: 100vh;
        width: 100%;
        background-color: #121212;
        position: relative;
        padding: 7vh 0;
    }
    
    #content{
        width: 90vw;
        margin-left: 0%;
        /* background-color: purple; */
    }
    
    #content h1{
        font-size: 9.4vw;
        text-transform: uppercase;
        position: relative;
    }
    
    #content h1::before{
        content: "03";
        position: absolute;
        font-size: 5vw;
        font-family: 'silk serif';
        left: 0%;
        top: -58%;
    }
    
    #content .underline{
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 7vw 0 10vw;
    }
    
    h6{
        font-size: 1vw;
        font-weight: 400;
        /* font-family: 'sens serif'; */
    }
    
    #content>p{
        font-size: 5.5vw;
        width: 100%;
        margin-bottom: 3vw;
    }
    
    #flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    #flex img{
        width: 100%;
        margin: 5vw 0 8vw 0;
    }
    
    #flex p{
        font-size: 3.5vw;
        width: 60%;
        /* margin-left: 1vw; */
        margin-bottom: 5vw;
    }
    
    #blue{
        /* height: 30vh; */
        background-color: #3F7DF4;
        width: 90vw;
        padding: 5vw;
        padding-bottom: 8vw;
        position: relative;
        margin-top: 0vh;
        margin-left: 0vw;
    }
    
    .bluelem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        /* background-color: crimson; */
        padding: 1.7vw 0;
        border-bottom: 0.2vw solid rgba(255, 255, 255, 0.611);
    }
    
    .bluelem h4{
        font-size: 5vw;
        font-weight: 400;
    }
    
    .bluelem p{
        width: 50%;
        font-size: 4vw;
    }

    #page4 h6{
        height: 10vw;
        font-size: 4vw;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }

    #page5{
        min-height: 60vh;
        width: 100%;
        padding: 5vw 0;
        position: relative;
    }
    
    .elem{
        /* background-color: crimson; */
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: -2vw;
    }
    
    .elem h1{
        font-size: 14vw;
        -webkit-text-stroke:1px #fff;
        font-weight: 400;
        color: transparent;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 16px;
        -webkit-animation-name: animate;
                animation-name: animate;
        -webkit-animation-duration: 8s;
                animation-duration: 8s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    
    @-webkit-keyframes animate {
        from{
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        to{
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }
    
    @keyframes animate {
        from{
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        to{
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }
    .elem2{
        /* background-color: crimson; */
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: -2vw;
    }
    
    .elem2 h1{
        font-size: 14vw;
        -webkit-text-stroke:1px #fff;
        font-weight: 400;
        color: transparent;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 16px;
        -webkit-transform: translateX(calc(-100% - 20px));
            -ms-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
        -webkit-animation-name: animate;
                animation-name: animate;
        -webkit-animation-duration: 10s;
                animation-duration: 10s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        animation-direction: reverse;
    }
    
    .elem span{
        font-style: italic;
        font-family: 'silk serif';
        color: transparent;
    }
    
    .elem2 span{
        font-style: italic;
        font-family: 'silk serif';
        color: transparent;
    }

    #footer{
        height: 65vh;
        width: 100%;
        /* background-color: crimson; */
        position: relative;
        padding-left: 0vw;
        padding-right: 0vw;
        margin-bottom: 5vw;
    }
    
    #footer h1{
        font-size: 12vw;
        text-transform: uppercase;
        font-weight: 500;
        /* margin-left: 28vw; */
        position: relative;
        margin-bottom: 0vw;
    }
    
    #footer h1::before{
        content: "04";
        position: absolute;
        font-size: 6vw;
        font-family: 'silk serif';
        left: 0%;
        top: -48%;
    }
    
    .underline{
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 3vw 0;
    }

    #foot{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-right: 16vw;
        padding-top: 8vw;
        margin-bottom: 15vw;
        /* background-color: crimson; */
    }
    
    #foot h6{
        font-size: 5vw;
        margin-bottom: 3vw;
        margin-top: 3vw;
        border-bottom: 1vw solid white;
    }
    
    .box{
        width: 45%;
    }
    
    #foot h5{
        font-size: 3vw;
        /* margin: 0.2vh 0; */
        font-weight: 500;
    }
    
    #footer>h5{
        font-weight: 500;
        font-size: 5vw;
        margin-top: 10vw;
    }

    ._canvas_container{
        z-index: 99999 !important;
        pointer-events: none;
    }
    
    #Flag{
        height: 25vw;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        opacity: 0;
    }
    
    #hori3{
        /* background-color: crimson; */
        z-index: 999;
        position: relative;
    }
}